header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: min(60rem, 80%);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.08); /*rgba(17, 17, 17, 0.25)*/
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
  z-index: 999;
}

/*LOGO*/


.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.logo {
  font-size: 24px;
  color: hsl(267, 8%, 85%);
  transition: all 300ms ease, -webkit-text-fill-color 300ms ease, color 0ms ease ;
}

.logo a {
  anchor-name: --logo;
  
  font-weight: 600;
  color: hsl(267, 8%, 85%);
  animation: floatIn 700ms ease both, color 0ms ease;
}

.logo a::after {
  content: "";
  position: absolute;
  position-anchor: --logo;
  top: calc(anchor(bottom) + 5px);
  left: calc(anchor(left) + .1rem);
  right: calc(anchor(right) + .1rem);
  bottom: calc(anchor(bottom) - 8px);
  background: linear-gradient(90deg, hsl(270, 3%, 27%), hsl(280, 2%, 24%));
  border-radius: 999px;
  transform-origin: left center;
  transform: scaleX(0);
  animation: lineDraw 900ms ease 250ms both;
  z-index: -1;
  corner-shape: squircle;
  border-radius: 999px;
  transition: all 500ms linear(
      0, 
      0.441 7.4%, 
      0.779 15.3%, 
      1.015 23.7%, 
      1.098 28.2%, 
      1.158 32.9%, 
      1.188 36.6%, 
      1.207 40.6%, 
      1.213 44.8%, 
      1.208 49.3%, 
      1.175 57.7%, 
      1.032 82.8%, 
      1.007 91.2%,
      1); /*easing wizard*/
}


.logo a:hover::after {
  transform: scaleX(1.06);
  top: anchor(top);
  left: calc(anchor(left) - .3rem);
  right: calc(anchor(right) - .3rem);
  bottom: anchor(bottom);
  transition: all 500ms linear(
    0, 
    0.441 7.4%, 
    0.779 15.3%, 
    1.015 23.7%, 
    1.098 28.2%, 
    1.158 32.9%, 
    1.188 36.6%, 
    1.207 40.6%, 
    1.213 44.8%, 
    1.208 49.3%, 
    1.175 57.7%, 
    1.032 82.8%, 
    1.007 91.2%, 
    1); /*easing wizard again :)*/
}



@keyframes lineDraw {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

@keyframes floatIn {
  from { transform: translateY(-8px) scale(.995); opacity: 0; }
  60%  { transform: translateY(0px) scale(1.003); opacity: 1; }
  to   { transform: translateY(0) scale(1); opacity: 1; }
}

@media (max-width: 818px) {
  .logo-wrapper {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
}



/*----------main nav------------*/

header nav {
  height: 50px;

  anchor-name: --hovered-item;

  li:hover {
    anchor-name: --hovered-item;
  }
  

  &::after {
    content: "";
    position: absolute;
    background: var(--surface);
    top: calc(anchor(bottom) - 4px);
    left: calc(anchor(left) + .5rem);
    right: calc(anchor(right) + .5rem);
    bottom: calc(anchor(bottom) + 1px);
    /* top: anchor(top); */
    position-anchor: --hovered-item;
    transition: all 300ms ease;

    corner-shape: squircle;
    border-radius: 999px;

    transform: translateY(1px); /*OCD v2.0 :D*/

    transform-origin: left;

    z-index: -1;
    animation: lineDraw 500ms ease-in 1100ms both;

  }

  &:has(li:hover)::after {
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    transition: all 500ms linear(
      0, 
      0.441 7.4%, 
      0.779 15.3%, 
      1.015 23.7%, 
      1.098 28.2%, 
      1.158 32.9%, 
      1.188 36.6%, 
      1.207 40.6%, 
      1.213 44.8%, 
      1.208 49.3%, 
      1.175 57.7%, 
      1.032 82.8%, 
      1.007 91.2%, 
      1); /*easing wizard again XD*/
  }
  
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; 
  /* gap: 15px; */
  margin: 0;
  padding: 0;
  transform: translateY(2.5px); /*برعاية ال OCD :)*/
}

header nav ul li {
  height: 70%;
  padding-inline: .8rem;
}

header nav ul li:hover {
  a {
    color: hsl(267, 8%, 85%);
    transition: all 0.3s ease-in-out;
  }
}

header nav ul a {
  display: flex;
  text-decoration: none;
  color: hsl(267, 8%, 60%);
  transition: all 0.3s ease-in-out;
  align-items: center;
  height: 100%;
  
}

header nav ul a:hover {
  color: hsl(267, 8%, 85%);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  header nav ul a {
    font-size: 16px;
  }
}

/*---------------------social icons---------------------*/



.header-social-icons {
  margin-left: auto;
}

.header-social-icons ul {
  list-style: none;
  display: flex;
  gap: .5rem;
  transform: translateY(1.5px);
}

.header-social-icons ul li {
  background: var(--surface);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;

  &:hover {
    background-color: rgba(26, 26, 26, 0.95);
  }
}

.header-social-icons ul li a {
  text-decoration: none;
  color: var(--text);
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center; /*مش حاسه overkill*/
  transform: translateX(.5px);
  transition: all 300ms ease;
  font-size: 1rem;

  &:hover {
    color: hsl(267, 8%, 85%)
  }
}

.side-nav-btn {
  display: none;
}

@media (max-width: 768px) {
  .header-social-icons ul li {
    width: 35px;
  }

  .header-social-icons ul li a {
    font-size: 16px;
    transform: translateX(0);
  }
}

/*side bar breakpoint*/

@media (max-width: 700px) {
  .side-nav-btn {
    display: none;
    cursor: pointer;

  }


}

/*----------------side nav------------------*/

.side-nav {
  display: flex;
  position: fixed;

  height: 100vh;
   background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 999;

  top: 0;
  right: 0;

}

.side-nav nav ul {
  list-style: none;
}

.side-nav nav ul li a {
  text-decoration: none;
  color: hsl(267, 8%, 60%);
}

/*TODO: ADD break point at 750px for side nav bar*/

/*TODO: DONT forget >300px screens*/

/*TODO: change the color of the logo blob*/